@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.5rem;
  --space-600: 2rem;
  --space-700: 2.5rem;
  --space-800: 4rem;
  --space-1000: 8rem;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  max-width: 737px;
  padding: var(--space-700);
  margin: 5rem var(--space-600);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}

/* Recipe Info section*/

.recipe-info h1 {
  margin-top: var(--space-600);
  margin-bottom: var(--space-400);
  font-size: var(--space-700);
  font-family: "Young serif", sans-serif;
  font-weight: 400;
  color: var(--Stone-900);
}

.recipe-info p {
  color: var(--Stone-600);
  margin-bottom: var(--space-600);
}

.preparation {
  background-color: var(--Rose-50);
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  padding: 1.8rem;
}

.preparation p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--Rose-800);
}

.preparation ul {
  list-style: none;
  padding-left: var(--space-200);
}

.preparation li {
  margin-bottom: 0.5rem;
  color: var(--Stone-600);
}

.preparation li::before {
  content: "•";
  font-size: 1.2rem;
  padding-right: var(--space-500);
  color: var(--Rose-800);
}
